<%= form_with(model: log_entry) do |form| %> <% if log_entry.errors.any? %>
<div class="message is-danger">
  <div class="message-header">
    <p>
      <%= pluralize(log_entry.errors.count, "error") %> prohibited this log
      entry from being saved:
    </p>
  </div>
  <div class="message-body">
    <ul>
      <% log_entry.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div>
  <%= form.label :meal_type, class: "label" %> <%= form.text_field:meal_type,
  class: "input" %>
</div>

<div>
  <%= form.label :calories, class: "label" %> <%= form.number_field:calories,
  class: "input" %>
</div>

<div>
  <%= form.label :proteins, class: "label" %> <%= form.number_field:proteins,
  class: "input" %>
</div>

<div class="field">
  <%= form.label :category, class: "label" %>
  <div class="select">
    <%= form.select :category_id, Category.all.collect {|cat| [cat.title,
    cat.id]}%>
  </div>
</div>

<div>
  <%= form.label :carbohydrates, class: "label" %> <%=
  form.number_field:carbohydrates, class: "input" %>
</div>

<div>
  <%= form.label :fats, class: "label" %> <%= form.number_field:fats, class:
  "input" %>
</div>

<div class="actions pt-4"><%= form.submit class: "button is-success" %></div>
<% end %>
