<div id="<%= dom_id log_entry %>" class="column is-one-quarter">
  <div class="card">
    <header class="card-header">
      <h1 class="card-header-title">
        <%= log_entry.meal_type %> | <%= log_entry.category.title if log_entry.category.present? %>
      </h1>
    </header>

    <section class="card-content">
      <div class="content">
        <p>
          <span class="has-text-weight-bold">Calories:</span> <%=
          log_entry.calories %>
        </p>
        <p>
          <span class="has-text-weight-bold">Proteins:</span> <%=
          log_entry.proteins %>g
        </p>
        <p>
          <span class="has-text-weight-bold">Carbohydrates:</span> <%=
          log_entry.carbohydrates %>g
        </p>
        <p>
          <span class="has-text-weight-bold">Fats:</span> <%= log_entry.fats %>g
        </p>
        <p class="is-italic">
          Logged <%= time_ago_in_words(log_entry.created_at) %>
        </p>
      </div>
    </section>
    <footer class="card-footer">
      <%= link_to "Show", log_entry_path(log_entry), class: "card-footer-item"
      %> <%= link_to "Edit", edit_log_entry_path(log_entry), class:
      "card-footer-item" %> <%= link_to "Delete", log_entry_path(log_entry),
      data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class:
      "card-footer-item" %>
    </footer>
  </div>
</div>
