<div class="columns is-centered mt-6">
  <div class="column is-half">
    <% @log_entries.each do |day, log_entries| %>
    <h3 class="is-size-4 has-text-bold mb-4 has-text-centered">
      <strong>Nutrient breakdown</strong> for <%= day %>
    </h3>

    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <h4 class="heading">Calories</h4>
          <p class="title"><%= log_entries.pluck(:calories).sum %>kcal</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h4 class="heading">Proteins</h4>
          <p class="title"><%= log_entries.pluck(:proteins).sum %>g</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h4 class="heading">Carbohydrates</h4>
          <p class="title"><%= log_entries.pluck(:carbohydrates).sum %>g</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h4 class="heading">Fats</h4>
          <p class="title"><%= log_entries.pluck(:fats).sum %>g</p>
        </div>
      </div>
    </nav>

    <% log_entries.each do |log_entry| %> <%= link_to log_entry_path(log_entry) do %>
    <div class="card">
      <div class="card-content">
        <strong><%= log_entry.meal_type %></strong>
      </div>
    </div>
    <% end %> <% end %> <% end %>
  </div>
</div>
